
.swiper {
  
  

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px * 2;
    background-color: white;
  }
}